Repository aobolensk/parallel_programming_course, changes with the labels that .github/labeler.yml gives for each.
All labels: task:all, task:mpi, task:omp, task:seq, task:stl, task:tbb, ci, core, samples, 3rdparty, infrastructure, python, docs, scoreboard

.github/labeler.yml:

'task:all':
  - "tasks/all/**"
'task:mpi':
  - "tasks/mpi/**"
'task:omp':
  - "tasks/omp/**"
'task:seq':
  - "tasks/seq/**"
'task:stl':
  - "tasks/stl/**"
'task:tbb':
  - "tasks/tbb/**"
ci:
  - ".github/**"
  - "appveyor.yml"
core:
  - "modules/core/**"
samples:
  - "modules/ref/**"
3rdparty:
  - "3rdparty/**"
infrastructure:
  - "scripts/**"
  - "**/CMakeLists.txt"
  - "cmake/**"
  - ".clang-format"
  - ".clang-tidy"
  - ".gitignore"
  - ".gitmodules"
  - "codecov.yml"
  - "setup.cfg"
python:
  - "**/requirements.txt"
docs:
  - "docs/**"
  - "README.md"
scoreboard:
  - "scoreboard/**"

MPI matrix on Windows
  .github/workflows/main.yml
Labels: ci

Extract acceleration data from perf tests table
  .github/workflows/pages.yml
  scoreboard/main.py
  scripts/create_perf_table.py
Labels: ci, infrastructure, scoreboard

Pages trigger
  .github/workflows/pages.yml
Labels: ci

Remove -Wno-cast-align in cmake/configure.cmake
  cmake/configure.cmake
Labels: infrastructure

Deploy pages only if Github Pages are enabled in the repo
  .github/workflows/pages.yml
Labels: ci

multirank cov
  .github/workflows/ubuntu.yml
Labels: ci

fix
  .github/workflows/ubuntu.yml
  scripts/run_tests.py
Labels: ci, infrastructure

fix?
  .github/workflows/ubuntu.yml
Labels: ci

[CI] Add pre-commit job
  .github/workflows/ubuntu.yml
Labels: ci

test
  .github/workflows/perf.yml
  .github/workflows/pre-commit.yml
  .github/workflows/static-analysis-pr.yml
  .github/workflows/ubuntu.yml
Labels: ci

Increase task.hpp coverage
  modules/task/tests/task_tests.cpp
Labels: none

test tidy simplify
  .github/actions/clang-tidy-native/action.yml
Labels: ci
